[submodule "vendor/bots/sealbot"]
	path = vendor/bots/sealbot
	url = https://github.com/Ramora0/SealBot
[submodule "vendor/bots/krakenbot"]
	path = vendor/bots/krakenbot
	url = https://github.com/Ramora0/KrakenBot
